@import "../../variables";

.LeftBar {
    width: 277px;
    margin-right: 19px;
    background-color: $white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 25px;

    .title,
    .product-aspect-label {
        font-size: 14px;
        font-weight: bold;
        color: $blue;
    }

    .product-aspect {
        padding-bottom: 15px;
    }


    .items, .children {
        width: 100%;
        max-height: 500px;
        padding-right: 10px;
        overflow-y:auto;
    }

    @import "LeftBarItem";
}
