@import "../../variables";

.HomeContainer {
  background-color: #E5E5E5;

    .Home {
        .homepage-layout-logo {
            width: 370px;
            height: 82px;
            margin-bottom: 45px;
        }

        .layout {
            @extend .d-flex !optional;
            @extend .flex-column;
            @extend .justify-content-start !optional;
            @extend .align-items-center !optional;
            @extend .w-100 !optional;
            @extend .h-100 !optional;
            padding-top: 0;
        }

        .title-box, .sdlt-description, .create-text, .create-help, .submissions, .submission-text,
        .view-all-submissions {
          width: 60%;
          min-width: 1024px;
          font-family: 'Roboto';
          font-style: normal;
        }

        .title-box {
          font-weight: 900;
          font-size: 20px;
          line-height: 23px;
          text-align: left;
          color: var(--home-text-colour);
          margin-bottom: 15px;
        }

        .sdlt-description, .create-help, .submission-text,
        .view-all-submissions {
          font-weight: 400;
          font-size: 12px;
          line-height: 20px;
          color: var(--home-text-colour);
        }     

        .create-help, .submission-text {
          margin-top: 15px;
        }

        .create-text {
          margin-top: 35px;
        }
        
        .create-text, .submission-text {
          font-weight: 700;
          font-size: 14px;
          line-height: 16px;
          color: var(--home-text-colour);
        }   

        .submission-text {
          margin-bottom: 15px;
        }

        .view-all-submissions {
          margin-bottom: 40px;
          font-weight: 700;
          font-size: 12px;
          line-height: 14px;
        }

        .pillars {
            @extend .container;
            @extend .mx-1 !optional;
            margin-bottom: 40px;

            @import "Pillar";

            .pillar-row {
              display: flex;              
              margin-top: 20px;
              justify-content: space-evenly;

              .pillar-col {
                display: inline;
              }
            }
        }

        .tasks {
            max-width: 1000px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-start;
            flex-wrap: wrap;
            // margin-bottom: 110px;

            @import "TaskButton";
        }
    }


    .submission-list {
      background-color: white;
    }

    .submittion-list table {
      margin-bottom: 0px;
      overflow-x: unset;
    }

    .submission-list th, .submission-list td {
      border: 0px;
      border-bottom: 2px solid #efefef;
    }

    .table-responsive {
      overflow-x: unset;
    }
}
