@import "../../variables";

.ControlDetailContainer {
  .ControlDetail {
    max-width: map_get($container-max-widths, xl);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
  }

  .alert.key-control-banner {
    display: flex;
    align-items: center;
    height: 44px;
    font-size: 11px;
    line-height: 16px;
    border-radius: 0;
    background-color: #ffddbe;

    .key-control-icon {
      width: 14px;
      margin-right: 12px;
      margin-bottom: 2px;
      filter: invert(54%) sepia(76%) saturate(723%) hue-rotate(344deg)
        brightness(102%) contrast(101%);
    }
  }

  .control-description-container {
    border-bottom: 2px solid #d9d9d9;
    margin-top: 24px;

    .control-description {
      margin-bottom: 25px;
    }
  }

  h5 {
    color: #0E0E0E;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 16px;
  }

  .help-text {
    font-size: 11px;
    line-height: 16px;
  }

  .control-detail-link {
    a {
      color: $light-blue;
      text-decoration: underline;
      font-weight: bold;
    }
  }

  .control-implementation-container {
    margin-top: 24px;
    color: $black;

    .control-implementation-status-dropdown {
      margin-top: 15px;
    }

    .react-select-container {
      max-width: 147px;
      font-size: 11px;

      .react-select__control {
        border: solid 1px $light-blue;
        border-radius: 5px;
        min-height: 30px;
        height: 30px;

        &--menu-is-open {
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;
        }

        &--is-focused {
          box-shadow: none !important;
        }

        .react-select__single-value {
          color: $black;
        }

        .react-select__indicator {
          color: $light-blue;
          padding: 5px;
          margin-right: 6px;
          &-separator {
            display: none;
          }
          svg {
            width: 16px;
          }
        }
      }

      .react-select__menu {
        margin-top: -1px;
        border: solid 1px $light-blue;
        border-radius: 0 0 5px 5px;

        .react-select__menu-list {
          height: 128px;
          padding-bottom: 0;
          padding-top: 0;
          border-radius: 0 0 5px 5px;

          .react-select__option {
            line-height: 16px;
            &--is-selected {
              background-color: #e1e7eb;
              color: $black;
            }

            &--is-focused {
              background-color: $light-blue;
              color: $white;
            }
          }
        }
      }
    }
  }
}
