.material-card {
  margin: 3px 10px 10px 0px;
  border-radius: 5px;
  padding: 15px 0px 10px 10px;
  height: auto;
}

.card-content {
  display: flex;
  flex-direction: column;
}

.card-header {
  display: flex;
  padding: 0;
  background-color: inherit;
  position: relative;
  overflow-wrap: anywhere;
  border: none;
}

.card-title {
  word-wrap: break-word;
  flex: 1;
  font-weight: 700;
  font-size: 14px;
}

.card-chevron {
  padding-right: 5px;

  .MuiSvgIcon-root {
    fill: #2471a7;
    padding: 0;
  }

  button {
    padding: 0;
  }
}

.card-key-control {
  padding-right: 5px;
}

.card-footer {
  display: flex;
  position: relative;
  padding: 0;
  background-color: inherit;
  border: none;
}

.card-risk-category {
  padding: 0px 5px;
  margin-bottom: 1rem;
  color: #2471a7;
  border: 1px solid #2471a7;
  border-radius: 2px;
  word-wrap: break-word;
  margin-right: 10px;
  width: fit-content;
  cursor: pointer;
  font-weight: 400;
  font-size: 12px;
}

.flex-column {
  flex-direction: column;

  .card-risk-category {
    margin-bottom: 0.5rem;
  }
}

.card-weight {
  color: #2471a7;
  font-size: 12px;
  font-weight: 700;
}
