.control-board-container {
  display: flex;
  justify-content: center;
  overflow-x: scroll;
}

[role="alert"] {
  margin:0 0 2em 0;
  color:black;
  box-shadow: 5px 5px 5px rgba(0,0,0,.25);

  &.MuiAlert-standardError {
    border: 1px solid #f44336;
  }

  &.MuiAlert-standardWarning {
    border: 1px solid #ff9800;
  }

  &.MuiAlert-standardInfo {
    border: 1px solid #2196f3;
  }

  &.MuiAlert-standardSuccess {
    border: 1px solid #4caf50;
  }

  .MuiAlertTitle-root {
    display: inline;
    margin-right:.5em;
  }
}
