/**
This is to create a full-page login screen background, with the login elements centred
Note: this stylesheet is scoped to login page
**/
html.security {
    height: 100%;

    .container {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .login {
            min-width: 25rem;
            background: white;
            padding: 2rem;
        }

        #ForgotPassword a {
          color: var(--theme-link-colour);
        }       
    }

    .login-image {
      display: flex;
      background-color: var(--header-colour);
      padding-top: 5px;
      padding-bottom: 5px;
    }

    .security {

        /* Full height */
        height: 100%;

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        /**
        Additionally, we style the buttons with btn-primary
        **/
        input.action {
            @extend .btn;
            @extend .btn-primary;
            @extend .btn-block;

            background-color: var(--header-colour);
        }
      
        input[name=Email], input[name=Password] {
            @extend .form-control;
        }

        input[name=Email]:focus, input[name=Password]:focus {
          border-color: var(--header-colour);
        }     
        
        input[type=checkbox] {
          display: none;
        }

        .checkbox label {
          display: inline-block;
          position: relative;
          padding-left: 25px;
          font-size: 16px;
          line-height: 20px;
          margin: 5px;
        }

        .checkbox label:before {
          line-height: 20px;
          content: "";
          display: inline-block;
          width: 16px;
          height: 16px;
          position: absolute;
          left: 0;
          background-color: #ffffff;
          border: 1px solid #666666;
        }

        input[type=checkbox]:checked + label:before,
        .checkbox label:hover:before {
          content: "\2713";
          color: white;
          text-align: center;
          line-height: 16px;
          background-color: var(--header-colour);
        }

        .field {
            @extend .form-group;
            &.checkbox {
                @extend .form-check;                
            }
            input[name=Remember] {

                @extend .form-check-input;

                & + label.right {
                    @extend .form-check-label;
                }
            }

        }

    }
}

/**
END Login background image styling
**/
