@import "../../variables";

footer.Footer {
    height: 72px;
    background-color: var(--header-colour);
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      color: var(--subheader-breadcrumb-colour);
      text-decoration: underline;
    }
}


