.column-header {
    position: sticky;
    top: 0;
    background: #efefef;
    z-index: 1;
    border-bottom: 1px solid lightgrey;
    display: flex;
    padding-bottom: 10px;
}

.column-title {
    padding: 0px 10px;
}

.column-container {
    display: flex;
    margin: 8px;
    border: 1px solid lightgrey;
    border-top: none;
    border-radius: 2px;
    width: 350px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    max-height: 75vh;
}

.card-list {
    padding: 8px;
    flex-grow: 1;
    min-height: 100px;
}

.column-info {
    color: #2471a7;
    cursor:pointer;
}