@import "../../variables";

.ComponentSelection {

  max-width: map_get($container-max-widths, xl);
  margin: 0 auto 80px;

  .main-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    margin-bottom: 1rem;
  }

  .back-link {
    @include backLink;
  }

  .title {
    @include title;
  }

  .LeftBar {
    padding-right: 23px;
    padding-bottom: 0;

    .items {
      max-height: 800px;
      overflow-y: auto;
    }
  }

  .main-content {
    background-color: $white;
    width: 840px;
    padding: 25px 25px 25px;
    font-size: 14px;
    color: $black;

    .heading {
      margin-bottom: 20px;
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      color: $blue;
      margin-top: 5px
    }

    .save-components-container {
      display: flex;
      margin-top: 62px;
      .save-message {
        font-size: 11px;
        font-weight: 400;
        padding-top: 15px;
        margin: 0;
      }

      .buttons-wrapper {
        margin-left: auto;
      }
    }

    .help-text {
      font-size: 12px;
      margin-bottom: 30px;
    }

    .selected-components {
      border: 1px solid #D9D9D9;
      border-radius: 4px;
      border-top: none;

      table {
        margin-bottom: 0;
        tbody {
          display: block;
          max-height: 249px;
          overflow-y: scroll;
          scrollbar-color: $light-blue transparent;
        }

        thead, tr {
          display: table;
          width: 100%;
        }

        thead {
          border-bottom: 1px solid #d9d9d9;
        }

        input {
          accent-color: $light-blue;
          vertical-align: sub;
        }

        th:first-child, td:first-child {
          width: 6%;
        }

        th:nth-child(2), td:nth-child(2) {
          width: 30%;
        }

        th {
          font-size: 12px;
          border-bottom: none;
        }

        td {
          font-size: 11px;
        }

        td:first-child {
          text-align: center;
        }

        .td-component-name {
          color: #0E0E0E;
        }

        .td-component-description {
          color: $black;
        }
      }

      @import "ComponentInfo";

      h4 {
        font-weight: 600;
        color: $blue;
        font-size: 20px;
        padding-bottom: 15px;
      }
    }

    ::-webkit-scrollbar {
      width: 4px;
      background-color: transparent;
    }

    ::-webkit-scrollbar-track {
      background-color: transparent;
    }
  }
}
