@import "../../variables";

.ComponentSelectionReview {
  max-width: map_get($container-max-widths, xl);
  margin: 0 auto 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  h4 {
    font-size: 14px;
    margin-bottom: 15px;
    font-weight: 700;
  }

  b, li, .default-answer {
    color: $black;
  }

  .default-answer {
    font-size: 11px;
    font-weight: 700;
  }

  .control-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      font-size: 11px;
    }
  }

  .section {
    @extend .bg-white !optional;
    @extend .mb-3 !optional;
    @extend .p-3 !optional;

    h4 {
      font-weight: 600;
      color: $blue;
    }
    h5 {
      font-weight: 600;
      color: $blue;
      font-size: 18px;
    }
  }

  .buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: stretch;
      margin-top: 25px;
      margin-left: auto;

      div {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: stretch;
      }
  }
}
