.AnswersPreview {
    .questions, .components {
        white-space: pre-line;

        .row {
            background-color: rgba(255, 255, 255, 0.7);
            margin-left: 0;
            margin-right: 0;
            padding: 20px;
            word-break: break-word;
            border-bottom: 2px solid $light-gray;
            min-height: 68px;

            .col:first-child {
                padding-left: 0;
                flex: 1 15%;
            }

            .col:last-child {
              flex: 2;
            }
        }

        .row:last-child {
          border-bottom: none;
        }

        .vertical-divider {
            border-right: 2px solid $light-gray;
            margin-top: -20px;
            margin-bottom: -20px;
        }
    }
}
