@import "../../variables";

.QuestionnaireContainer {
    .Questionnaire {
        margin-bottom: 80px;
    }
}

.Questionnaire {
    .major {
        max-width: map_get($container-max-widths, xl);
        margin: 0 auto;

        .title {
          @include title;
          color: #0E0E0E;
        }

        .form-container{
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: stretch;
          @import "QuestionForm";
        }

        .key-information-form-container {
          @import "QuestionForm";

          .information.actions {
            margin-top: 1.25rem;
            margin-bottom: 2rem;
            float: right;

            button {
              width: 85px;
            }
          }
        }
    }

    .key-info {
      font-size: 12px;
    }
}

.questionnaire-message {
    max-width: map_get($container-max-widths, xl);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
}
