#site-alert,
#noscript-alert {
  @extend .bg-warning !optional;
  @extend .flex-row !optional;
  @extend .justify-content-between !optional;
  @extend .align-items-center !optional;
  @extend .px-2 !optional;
  @extend .fixed-top !optional;

  .alert-text {
    flex-grow: 1;
    text-align: center;
  }

  p {
    font-size: 16px;
    margin-bottom: 0;
  }
}
#site-alert {
  display: none;
  top: 0;
}
