.back-link {
  color: var(--theme-link-colour);
  text-decoration: underline;
  margin-bottom: 30px;
  font-weight: 500;
  cursor: pointer;
  &:hover {
    color: var(--header-colour);
  }

  img {
    margin-right: 8px;
    fill: var(--theme-link-colour);
  }
}
