@import "../../variables";

.LightButton {
    border: 2px solid $light-blue;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: $white;
    color: $light-blue;

    &:hover {
        text-decoration: underline;
        color: $light-blue;
    }
}
